*{margin: 0; padding: 0; box-sizing: border-box;}

body {    background-color: #6256CA;}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.quote__div {
    width: 50%;
    background-color: white;
    border-radius: 3px;
    margin-top: 10%;
}

h2 {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

p {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.btn {
    text-align: center;
    padding: 15px;
}

.btn button {
    width: 120px;
    padding: 7px;
    border: none;
    border: 2px solid #6256CA;
    color: #6256CA;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
}

.btn button:hover {
    transition: all 0.4s ease;
    background-color: #6256CA;
    color: white;
}

h3 {
    text-align: center;
    padding: 10px;
    color: gray;
}